<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="login-box">
            <h2>Add Your comment here...</h2>
            <form action="/getPostById/belongsTo/<%= commentPost.users_post %>/belongsToUser/<%= commentPost.post_id %>/postEditComment" method="post">

              <!-- <div class="user-box">
                <div name="post_info"> <%= commentPost.result.post_info %> </div>
              </div> -->

              <div class="user-box">
                <input type="text" name="value" value="<%= commentPost.result.value %>" required="">
                <label>Comment</label>
              </div>
              <input type="hidden" name="comment_id" value="<%= commentPost.result.comment_id %>" />
              <!-- <input type="hidden" value="<%= commentPost.result.post_info %>"/>
              <input type="hidden" value="<%= commentPost.result.likes %>"/>
              <input type="hidden" value="<%= commentPost.result.users_post %>"/>
              <input type="hidden" value="<%= commentPost.result.post_id %>"/>
              <input type="hidden" value="<%= commentPost.logged_in_user %>"/> -->
              
              <!--<a href="#">
                <span></span>
                <span></span> 
                <span></span>
                <span></span>
                Submit
              </a> -->
              <input class="submit-btn" type="submit" value="Submit" />
            </form>
          </div>
    </body>
</html>