<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BuzzTalk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/logo.jpg" />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
      </script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="post-main-div">
          <form action="/getPostById/belongsTo/<%= commentPost.users_post %>/belongsToUser/<%= commentPost.post_id %>/postEditComment/<%= allPost %>" method="post">
            <div class="p-3">
              <h5 name="post_info"> <center><%= commentPost.result.post_info %></center>  </h5>
            </div>
            <div class="post-header-main">
              <div class="user-box">
              </div>
                <div class="post-header comment-header">
                <a href="/ViewReadOnlyUserById/<%= commentPost.users_post %>">
                  <% if (commentPost.result.user_img) { %>
                    <img src="/<%= commentPost.result.user_img %>">
                    <% } else { %>
                    <img src="/images/dummy.jpg">
                    <% } %>
                    <span><b><%= commentPost.result.user_comment %></b></span>
                </a>
                </div>
                <input class="glow-on-hover submit-btn" type="submit" value="Post" />
            </div>
            
            <div>
                <textarea class="post-textarea comment-textarea" name="value" required cols="95" rows="10" placeholder="Leave your comments here..." value="<%= commentPost.result.value %>"><%= commentPost.result.value %></textarea>
            </div>
            <input type="hidden" name="post_info" value="<%= commentPost.result.post_info %>"/>
            <input type="hidden" name="likes" value="<%= commentPost.result.likes %>"/>
            <input type="hidden" name="users_post" value="<%= commentPost.result.users_post %>"/>
            <input type="hidden" name="post_id" value="<%= commentPost.result.post_id %>"/>
            <input type="hidden" value="<%= commentPost.logged_in_user %>"/>
            <input type="hidden" name="user_comment" value="<%= commentPost.user_comment %>"/>
            <input type="hidden" name="comment_id" value="<%= commentPost.result.comment_id %>" />
          </form>
        </div>
    </body>
</html>