<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./images/logo.jpg" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/scripts.js"></script>
</head>

<style>
    #actions {
        display: none;
        box-shadow: 0px 4px 25px -13px black;
        position: relative;
        float: right;
    }

    .times {
        position: absolute;
        top: 5px;
        right: 7px;
    }
</style>

<body>
    <div class="login-box">
        <h2>
            <center>View Post</center>
        </h2>

        <% if( post ) {%>
        <!-- <div>
            <%= post.post_info %>
            <%= post.likes %>
            <%= post.users_post %>

            <div>
                <% post.comment_info.forEach(function (el, index) {%>
                <%= el.value %>
                <%= el.user_comment %> 
                <a href="<%= post.post_id %>/editComment/<%= el.comment_id %>/IndividualPost">Edit</a> &nbsp;
                <a href="<%= post.post_id %>/deleteComment/<%= el.comment_id %>/IndividualPost">Delete </a> <br />
                <input type="hidden" name="comment_id" value="<%= el.comment_id %>" />
                <% }) %>
            </div>

            <input type="hidden" value="<%= post.post_id %>" />

            <a href="<%= post.post_id %>/addComment/IndividualPost">Add Comment</a>
        </div> -->

        <div class="column middle">
            <div class="content pb-3">
                <div class="content-header row px-3 pt-2">
                    <div class="col-10">
                        <div class="d-flex">
                            <div>
    
                                <a href="/ViewReadOnlyUserById/<%= post.users_post %>">
    
                                    <% if (post.user_img) { %>
                                    <img width="50" height="50" src="/<%= post.user_img %>">
                                    <% } else { %>
                                    <img width="50" height="50" src="/images/dummy.jpg">
                                    <% } %>
                                </a>
                            </div>
                            <div>
                                <a href="/ViewReadOnlyUserById/<%= post.users_post %>">
                                    <span class="user_post">
                                        <%= post.users_post %>
                                    </span>
                                </a>
                                <div class="pl-3 pt-1">
                                    <small>
                                        <script type="text/javascript">
                                            if ("<%post.posted_date %>") {
                                                document.write(
                                                    new Intl.DateTimeFormat('en-GB', {
                                                        year: 'numeric',
                                                        month: 'long',
                                                        day: '2-digit'
                                                    }).format(new Date("<%=post.posted_date %>"))
                                                );
                                            } else {
                                                document.write(
                                                    new Intl.DateTimeFormat('en-GB', {
                                                        year: 'numeric',
                                                        month: 'long',
                                                        day: '2-digit'
                                                    }).format(new Date())
                                                )
                                            }
                                        </script>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2 text-end">
                        <button class=" btn btn-light pt-3 pr-2" onclick="openPostActionsPopup()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
                <div class="col-2 p-3 mb-3 mr-3" id="actions">
                    <div><a href="/getPostById/belongsTo/<%= post.users_post %>/belongsToUser/<%= post.post_id %>">View
                            Post </a></div>
                    <div> <a href="/editPost/<%= post.post_id %>">Edit Post </a></div>

                    <div> <a href="/deletePost/<%= post.post_id %>">Delete Post </a></div>
                    <div class="times" onclick="closeActionPopup()"><i class="fa fa-times"></i></div>
                </div>
                <div class="content-body">
                    <p>
                        <%= post.post_info %>
                    </p>
                </div>
                <div class="content-multimedia">
                    <% if (post.img) { %>
                    <img src="/<%= post.img %>">
                    <% } %>
                </div>

                <div class="activity-response">
                    <div><a
                            href="/likePost/belongsTo/<%= post.users_post %>/belongsToUser/<%= post.post_id %>/likes/<%= post.likes %>/allPosts">
                            <i class="fa fa-thumbs-up fa-2x"></i> </a><%= post.likes %></div>
                    <div class="vertical"></div>
                    <div><i class="fa fa-comments fa-2x"></i><%= post.comment_info.length%></div>
                </div>

                <div class="px-4 mt-3">
                    <% post.comment_info.forEach(function(comment, index){ %>
                    <div class="d-flex pb-3">
                        <div>

                            <span class="content-header-left">
                                <% if(comment.user_img) { %>
                                <img src="/<%= comment.user_img %>" />
                                <% } else { %>
                                <img src="/images/dummy.jpg">
                                <% } %>
                            </span>

                        </div>
                        
                        <div class="mx-2 px-2 pt-2 pb-2 bacground-comment">
                            <div>
                                <a href="/ViewReadOnlyUserById/<%= comment.user_comment %>">
                                    <b><%= comment.user_comment%></b>
                                </a>

                            </div>
                            <div>
                                <%= comment.value %>
                            </div>
                        </div>
                        <input type="hidden" name="comment_id" value="<%= comment.comment_id %>" />
                        <div class="pt-3 px-2">
                            <a href="<%= post.post_id %>/editComment/<%= comment.comment_id %>/IndividualPost">Edit</a>
                            &nbsp;
                            <a class="text-danger"
                                href="<%= post.post_id %>/deleteComment/<%= comment.comment_id %>/IndividualPost">Delete</a>
                        </div>
                    </div>
                    <% }) %>
                </div>

                <a href="<%= post.post_id %>/addComment/IndividualPost">
                    <div class="div-search comment_add">
                        <% if (post.user_img) { %>
                        <img src="/<%= post.logged_in_user_info.img %>">
                        <% } else { %>
                        <img src="/images/dummy.jpg">
                        <% } %>
                        <p>Add your comment...</p>
                    </div>
                </a>
            </div>
        </div>
        <%}%>
          </div>
    </body>
</html>